@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2),
    format('woff2-variations');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2),
    format('woff2-variations');
    font-style: italic;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Outfit';
    src: url(./fonts/Outfit[wght].woff2),
    format('woff2-variations');
    font-style: normal;
    font-weight: 100 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: rgb(60, 128, 255);
    grid-row: 1 / 3;
    grid-column: 1;
    padding: 16px;
    color: white;
    height: 100vh;
}

.sidebar-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    font-size: 0.67rem;
    row-gap: 8px;
    margin-bottom: 36px;
}

.sidebar-section.title {
    font-size: 1.25rem;
}

.icon {
    place-self: center;
    /* To make svg white since it is inserted as img, not an editable svg */
    filter: brightness(0) invert(1);
}

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: 
        "search account"
        "greeting actions";
    box-shadow: 0 4px 4px rgba(67, 67, 67, 45);
}

.search {
    grid-area: search;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 9fr;
}

#search-bar {
    appearance: none;
    background-color: rgb(162, 162, 175);
    border: none;
    outline: none;
    border-radius: 24px;
    padding: 4px 12px;
}

.search-icon, .notification-icon {
    place-self: center;
    filter: brightness(0);
}

.account {
    grid-area: account;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    align-items: center;
    gap: 16px;
}

.notification-icon {
    justify-self: end;
}

.account > h3 {
    font-size: 1.5rem;
}

.profile-pic {
    background-color: black;
    border-radius: 48px;
    justify-self: center;
}

.greeting {
    grid-area: greeting;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 3fr;
    gap: 4px 16px;
}

.greeting > .profile-pic {
    grid-row: 1 / 3;
    justify-self: end;
    align-self: center;
}

.greeting-text {
    font-size: 1.25rem;
    align-self: end;
}

.greeting-name {
    font-size: 2rem;
}

.actions {
    grid-area: actions;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
}

button {
    appearance: none;
    border: none;
    border-radius: 32px;
    padding: 8px 16px;
    width: 128px;
    background-color: rgb(60, 128, 255);
    color: white;
    font-size: 1.1rem;
}